<header>Edit room</header>
<form method = "post" action = "/rooms/<%= @room.id %>">
  <label for="room_nmae">Room Name:</label>
    <input id = "room_name" type="text" name="name" value="<%= @room.name %>"/>

  <input type="submit" value="Submit Changes"/>
</form>
