<header>Add new Room</header>
<form method = "post" action = "/rooms">
  <label for="room">Room Name:</label>
    <input id = "room" type="text" name="name"/>

  <input type="submit" value="Add Room"/>
</form>
