<header>Room Details</header>
<p>Name: <%= @room.name %></p>
<a href="/rooms/<%= @room.id %>/edit">Edit room</a>
<form action="/rooms/<%= @room.id %>/delete" method="post">
    <input type="submit" value="Delete room"/>
</form>
