<!DOCTYPE html>
<html>
<head>
  <title>Ruby vet practice</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/vets">Vets</a>
      </li>
      <li>
        <a href="/pets">Pets</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
      <li>
        <a href="/rooms">Rooms</a>
      </li>
      <li>
        <a href="/treatments">Treatments</a>
      </li>
      <li>
        <a href="/appointments">Appointments</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
