<!DOCTYPE html>
<html>
<head>
  <title>Ruby Vets</title>
<link rel="icon" href="/images/dog.png" />
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <ul>
        <a href="/appointments">Appointments</a>
      </ul>
      <ul>
        <a href="/vets">Vets</a>
      </ul>
      <ul>
        <a href="/pets">Pets</a>
      </ul>
      <ul>
        <a href="/owners">Owners</a>
      </ul>
      <ul>
        <a href="/rooms">Rooms</a>
      </ul>
      <ul>
        <a href="/treatments">Treatments</a>
      </ul>
      <ul>
        <a href="/">Home</a>
      </ul>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
