<header>Pets of Ruby Vetinary Practice</header>
<a href="/pets/new">Add New Pet</a>
<% for pet in @pets %>
<a href="/pets/<%= pet.id %>"><div style="background-color:lightpink;color:green;border:2px double pink;border-radius:5px;text-align:center;">
<p>Name: <%= pet.name %></p>
<p>Type: <%= pet.type %></p>
</div></a>
<p><% end %></p>
