<header>Register new pet</header>
<form method = "post" action = "/pets">
  <ul>
    <label for="name">Name:</label>
    <input id = "name" type="text" name="name"/>
  </ul>
  <ul>
    <label for="type-of-pet">Pet type:</label>
    <input id = "type-of-pet" type="text" name="type"/>
  </ul>
  <ul>
    <label for="date-of-birth">Date of Birth:</label>
    <input id = "date-of-birthr" type="date" name="dob"/>
  </ul>

  <ul>
    <label for="owner">Owner:</label>
    <select id = "owner-select" name="owner_id">
      <% for owner in @owners %>
      <% if owner.status == 'registered' %>
      <option value="<%= owner.id %>"><%= owner.joined_name() %></option>
      <% end %>
      <% end %>
    </select>
  </ul>

  <ul>
    <label for="vet">Assign pet to vet:</label>
    <select id = "vet-select" name="vet_id">
      <% for vet in @vets %>
      <option value="<%= vet.id %>"><%= vet.joined_name() %></option>
      <% end %>
    </select>
  </ul>

  <ul>
    <label for="Notes">Notes:</label>
    <input id = "notes" type="text" name="notes"/>
  </ul>

  <input type="submit" value="Add pet"/>
</form>
