<form method = "post" action = "/treatments/<%= @treatment.id %>">
  <label for="type">Type:</label>
    <input id = "type" type="text" name="type" value="<%= @treatment.type %>"/>

  <input type="submit" value="Submit Changes"/>
</form>
