<h1>Available Treatments</h1>
<p><% for treatment in @treatments %></p>
<p><a href="/treatments/<%= treatment.id %>"><%= treatment.type %></a></p>
<% end %>
<a href="/treatments/new">New treatment</a>
