<header>Add new treatment</header>
<form method = "post" action = "/treatments">
  <label for="type">Type of treatment:</label>
    <input id = "type" type="text" name="type"/>

  <input type="submit" value="Add treatment"/>
</form>
