<header>Treatment Details</header>
<p>Type: <%= @treatment.type %></p>
<a href="/treatments/<%= @treatment.id %>/edit">Edit treatment</a>
<form action="/treatments/<%= @treatment.id %>/delete" method="post">
    <input type="submit" value="Delete treatment"/>
</form>
