<header>Register new vet</header>
<form method = "post" action = "/vets">
  <ul>
    <ul>
      <label for="first-name">First Name:</label>
      <input id = "first-name" type="text" name="first_name"/>
    </ul>
    <ul>
      <label for="last-name">Last Name:</label>
      <input id = "last-name" type="text" name="last_name"/>
    </ul>
    <ul>
      <label for="specialty">Specialty:</label>
      <input id = "specialty" type="text" name="specialty"/>
    </ul>
  </ul>

  <input type="submit" value="Add vet"/>
</form>
