<form method = "post" action = "/vets">
  <label for="first-name">First Name:</label>
    <input id = "first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name"/>

  <label for="specialty">Specialty:</label>
    <input id = "specialty" type="text" name="specialty"/>

  <input type="submit" value="Add vet"/>
</form>
