<header>Appointments</header>
<a href="/appointments/new">New Appointment</a>
  <ul>
    <% for appointment in @appointments %>
    <ul>
      <a href="/appointments/<%= appointment.id %>"><div style="background-color:lightpink;color:green;border:2px double pink;border-radius:5px;text-align:center;">
      <p>Appointment <%= appointment.id %></p>
      <p>Pet name:<%= appointment.pet.name %></p>
      <p>Time: <%= appointment.time %></p>
      </div></a>
    </ul>
    <p><% end %></p>

  </ul>
