<h1>Pet owners of Ruby Vetinary Practice</h1>
<% for owner in @owners %>
<p>Name: <%= owner.joined_name() %></p>
<p>Contact number: <%= owner.phone_number%></p>
<p>Contact email: <%= owner.email%></p>
<p>Pets: <% for pet in owner.pets() %><%= pet.name %></p>
<p><% end %></p>
<p><% end %></p>
