<header>Pet owners of Ruby Vetinary Practice</header>
<a href="/owners/new">Add New Owner</a>
<% for owner in @owners %>
<p>Name: <a href="/owners/<%= owner.id %>"><%= owner.joined_name() %></a></p>
<p>Contact number: <%= owner.phone_number%></p>
<p>Contact email: <%= owner.email%></p>
<p><% end %></p>
