<header>Register new owner</header>
<form method = "post" action = "/owners">
  <ul>
    <ul>
      <label for="first-name">First Name:</label>
      <input id = "first-name" type="text" name="first_name"/>
    </ul>
    <ul>
      <label for="last-name">Last Name:</label>
      <input id = "last-name" type="text" name="last_name"/>
    </ul>
    <ul>
      <label for="phone-number">Phone Number:</label>
      <input id = "phone-number" type="text" name="phone_number"/>
    </ul>
    <ul>
      <label for="e-mail">Email:</label>
      <input id = "e-mail" type="text" name="email"/>
    </ul>
  </ul>

  <input type="submit" value="Add owner"/>
</form>
