<form method = "post" action = "/owners">
  <label for="first-name">First Name:</label>
    <input id = "first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name"/>

  <label for="phone-number">Phone Number:</label>
    <input id = "phone-number" type="text" name="phone_number"/>

  <label for="e-mail">Email:</label>
    <input id = "e-mail" type="text" name="email"/>

  <input type="submit" value="Add owner"/>
</form>
